body {
  background-color: blue;
  background-image: url(3184892a86399e6d80e97caed8329a76.jpg);
  background-position: center;
  background-repeat: no-repeat; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

